@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    background-color: black;
    height: 200px;
}
header > h1{
    color: white;
}
header > p{
    color: white;
}